.form {
  max-width: 385px;
  margin-top: 100px;
}
.reservation__form-fieldset {
  display: flex;
  flex-direction: column;
  border: 0 none;
  width: 385px;
  padding-left: 0;
}
.reservation__form-fieldset-label {
  padding-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.reservation__form-fieldset-input {
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
