.reservation {
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reservation__title {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  justify-content: center;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
